/* Dine styles her */
form {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
}

.form-felt {
  display: grid;
  gap: 3px;
}

/*** Kontaktformular ***/
body {
  justify-content: center;
  align-items: center;
}
.checkbox-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checkbox-item {
  display: inline-block;
  margin: 10px;
}

.checkbox-label {
  display: block;
  margin-bottom: 5px;
}

.checkbox-image {
  max-width: 30%;
  height: auto;
}
